<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seed.app.dao.UserDao">
 
 	<!-- rpt库 slave数据源 -->
	 <select id="selectUserNameById" parameterType="java.lang.String" resultType="java.lang.String">
	 	select idnum from uid_idnum_test where uid=#{uid}
	 </select>
  
  	<!-- test 库 master 数据源 -->
  	<select id="queryUserNameByUid" parameterType="java.lang.Integer" resultType="java.lang.String">
  		select name from a_apply_info where uid=#{uid}
  	</select>
</mapper>